@import "../../../styles-variables.scss";
#footer {
    background-color: $background-secondary;
    color: #fff;
    padding: 40px 0;
    .footer-col {
        h4 {
            margin-bottom: 12px;
        }

        p {
            margin-bottom: 5px;
        }

        .social-icon {
            font-size: 30pt;
            margin-right: 7px;
        }

        
    }
    
}

@media screen and (min-width:320px) and (max-width: 767px) {
    #footer {
        .footer-col {
            padding: 40px 0 0;
            text-align: center;
            margin-bottom: 30px;

            .social-icons-container {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }   
        }
    }
}

