
<div id="footer">
	<footer class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 footer-col">
				<h4>Argentina</h4>
				<p>emp@arg.com.ar</p>
				<p>+54 911 4144 4546</p>
				<p>Juramento 2120 CABA</p>
			</div>
			<div class="col-md-3 col-sm-6 footer-col">
				<h4>Brazil</h4>
				<p>emp@bz.com.br</p>
				<p>+55 346 4533 2211.</p>
				<p>Sau Pablo 212</p>
			</div>
			<div class="col-md-3 col-sm-6 footer-col">
				<h4>Colombia</h4>
				<p>emp@co.com.co</p>
				<p>+57 (1) 144 4546</p>
				<p>Cali 42 </p>
			</div>
			<div class="col-md-3 col-sm-6 footer-col">
				<h4>Redes</h4>
				<div class="row social-icons-container">
					<!-- <div class="col-md-3"> -->
					<fa name="facebook-square" class="social-icon"></fa>
					<!-- </div> -->
					<!-- <div class="col-md-3"> -->
					<fa name="twitter-square" class="social-icon"></fa>
					<!-- </div> -->
					<!-- <div class="col-md-3"> -->
					<fa name="linkedin-square" class="social-icon"></fa>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</footer>
</div>