#header {
    .header-logo {
        display: block;
        width: 90px;
        margin: 25px auto;

        img {
            width: 90px;
            margin: 25px auto 0;
        } 
    }

    .navbar-brand {
        display: none;
    }

    nav {
        margin-bottom: 15px;
        background-color: #fff;
        .navbar-nav.center-nav-items {
            margin: 0 auto;
        }
    }

}

@media screen and (min-width: 320px) and (max-width:990px) { 
     #header {
        .header-logo {
            display: none;
        }

        .navbar-brand {
            display: block;
            width: 30px;
        }

        nav {
            margin-bottom: 0;
        }
    }
}

/* NAAAAAAAAAAAVBAAAAAAAAAAR */