
@import "../../../styles-variables.scss";


/* CALCULADOR */
#calculator {
    
    padding: 100px 0 30px;
    margin-bottom: 40px;
    background-color: $background-primary;

    label {
        color: #fff;
    }
    .calculator-inputs {
        margin-bottom: 55px;
    }
    .calculate-btn {
        width: 100%;
        background: #4cafff;
        color: #fff;
        padding: 12px 0;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media screen and (min-width: 320px) and (max-width:767px) {
   
    #calculator {
        padding: 35px 0 30px;

        #us-value {
            margin-bottom: 20px;
        }
    }   
    
}
/* CALCULADOR */