<div id="calculator">
	<div class="container">
		<!-- Content here -->
		<div class="row calculator-inputs">
			<div class="col-md-6">
				<label for="us-value">Ingrese valor en {{firstValue.shortName}}</label>
				<input type="text" class="form-control" id="us-value"  placeholder="{{firstValue.shortName}} Price" [(ngModel)]="firstValue.value"
				(keyup)="formatValue('firstValue', firstValue.symbol)">
			</div>
			<div class="col-md-6">
				<label for="eu-value">Su valor en {{secondValue.shortName}}</label>
				<input type="text" class="form-control" id="eu-value" placeholder="{{secondValue.shortName}} Price" [(ngModel)]="secondValue.value" disabled>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<button type="button" class="btn btn-primary calculate-btn" (click)="convert()">Calcular</button>
			</div>
		</div>
	</div>
</div>